<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="nimbleClientId" value="1fxa7133lp6i9kc67ed79yafepn4qjojyov6d0" />
    <add key="nimbleSecret" value="1cw876onw18j5d0vsb" />
    <add key="redirectUri" value="http://localhost:53475/HandleCodeForm.aspx" />
  </appSettings>
</configuration>